* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 14px;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
}

header > div {
  width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #488286;
  font-size: 1rem;
  font-weight: bold;
  margin: 14px;
  transition: .4s;
}

nav a:hover{
  color: black;

}
#home {
  height: 600px;
  background-color: #9DC7C8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home div h2 {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}

#home div h1 {
  background-color: #2F4858;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#home div h3 {
  color: black;
  font-size: 1.5rem;
  margin-top: 0;
}

#home button {
  border: 0;
  background-color: white;
  color: #2F4858;
  border-radius: 50px;
  padding: 20px 40px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

#home button:hover {
  background-color: #488286;
  color: white;
}

#home img {
  width: 700px;
}

#about {
  background-color: #E5F0F0;
  height: 600px;
  padding: .1px;
}

#about h1 {
  text-align: center;
  font-size: 2rem;
}

#about h1 span {
  color: #64A6A6;
}

#about > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.about-container {
  width: 820px;
  display: flex;
  justify-content: space-between;
}

.profile-picture {
  height: 350px;
  width: 350px;
  border-radius: 100%;
  background-color: #2F4858;
  object-fit: cover;
  object-position: center;
}

.about-text {
  width: 400px;
}

#about p {
  line-height: 1.5rem;
}

#about button {
  border: 0;
  background-color: #A4CBCB;
  color: black;
  border-radius: 50px;
  margin-top: 20px;
  padding: 15px 35px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

#about button:hover {
  background-color: #569A9F;
  color: white;
}


#services {
  background-color: #60A4A9;
  height: 600px;
  padding: .1px;
}

#services h2 {
  color: white;
  text-align: center;
}

#services h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

#services > div {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services > div > div {
  margin: 15px;
  width: 350px;
  height: 450px;
  text-align: left;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
}

#services img {
  margin-top: 30px;
  border: 0;
  width: 250px;
  height: 250px;
  transition:0s ;
  cursor: pointer;
}

#services img:hover {
  transform: scale(1.5);
}

#contact {
  background-color: #9DC7C8;
  height: 600px;
  padding: .1px;
}

#contact h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 100px;
}

#contact > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#contact > div > div h3 {
  text-align: center;
  letter-spacing: 4px;
  font-size: 1rem;
  color: white;
  background-color: #2F4858;
  padding: 8px;
  margin: 20px 50px;
}

form {
  display: flex;
  flex-direction: column;
}

input, button {
  padding: .5rem 1rem;
  border: 0;
  border-radius: 10px;
  margin: .3rem;
}
  
#contact textarea {
  padding: 5rem 1rem;
  border: 0;
  border-radius: 10px;
  margin: .3rem;
  overflow-y: scroll;
}

#contact button {
  background-color: #2F4858;
  color: white;
  padding: .7rem;
  font-weight: bold;
  cursor: pointer;
  transition: .1s;
}

#contact button:hover {
  background-color: black;
  color: white;

}
footer {
  background-color: white;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer div a {
  padding: 5px 20px ;
  text-decoration: none;
  font-size: .8rem;
  font-weight: bold;
  color: #488286;
  transition: .2s;
}

footer div a:hover {
  color: black;
}

.logo1 {
  margin-right: 30px;
  font-size: .8rem;
}
footer div p {
  color: black;
  font-weight: bold;
  margin-top: 0;
}
